<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TezTurist"
        tools:targetApi="31">
        <activity
            android:name=".acateno.carruselAcateno.ImageViewActivityAcateno"
            android:exported="false" />
        <activity
            android:name=".san_sebas.ActivitySanSebas"
            android:exported="false" />
        <activity
            android:name=".san_diego.MainActivitySanDiego"
            android:exported="false" />
        <activity
            android:name=".mexcal.ActivityMexcal"
            android:exported="false" />
        <activity
            android:name=".acateno.ActivityAcateno"
            android:exported="false" />
        <activity
            android:name=".barraLateral.ActivityBarrateral"
            android:exported="false" />
        <activity
            android:name=".teziutlan.ActivityTeziutlan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".atoluca.ActivityAtoluca"
            android:exported="false"
            android:theme="@style/Theme.TezTurist" />
        <activity
            android:name=".login1.SignUpActivity1"
            android:exported="false" />
        <activity
            android:name=".login1.ForgotPassword1"
            android:exported="false" /> <!-- Se tienen que declarar los activitys a los que se van a relacionar -->
        <activity
            android:name=".login.ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".login1.LoginActivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity1"
            android:exported="false" />
        <activity
            android:name=".atoluca.carruselAtoluca.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".clima.MainWeather"
            android:exported="false" />
        <activity
            android:name=".clima.MainWeatherNext"
            android:exported="false" />
        <activity
            android:name=".clima.ActivityLugares"
            android:exported="false" />
        <activity
            android:name=".login1.ActivityInicioEfecto"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Para google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>